<%- include('header'); -%>
<body>

  <div class="box" id="heading">
    <h1>This a <%= kindOfDay %>!</h1>
  </div>

  <div class="box">
    <% for(i=0; i < newlistitem.length; i++ ){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= newlistitem[i] %></p>
    </div>
    <% } %>
    <form action="/" method="post">
      <input type="text" name=item value="" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>

</body>
<%- include('footer'); -%>

</html>
